<div class="container mt-5" *ngIf="!conta">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header bg-success text-white">Cadastro de Conta</h5>
        <div class="card-body">
          <form class="gap-3">
            <div class="form-group">
              <label for="nome">Nome do titular:</label>
              <input
                [(ngModel)]="titular"
                id="nome"
                placeholder="Nome do titular"
                name="nome"
                class="form-control mb-2"
              />
            </div>
            <div class="form-group">
              <label for="tipoConta">Tipo de conta:</label>
              <select
                id="tipoConta"
                name="tipoConta"
                class="form-select mb-3"
                [(ngModel)]="tipoConta"
              >
                <option value="">Selecione o tipo de conta</option>
                <option value="corrente">Conta Corrente</option>
                <option value="salario">Conta Salario</option>
                <option value="poupanca">Conta Poupança</option>
              </select>
            </div>
            <button class="btn btn-outline-success" (click)="criarConta()">
              Criar Conta
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5" *ngIf="conta != null">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0">Titular: {{ conta.titular }}</h2>
    </div>
    <div class="card-body">
      <p class="mb-1">
        <strong>Tipo de Conta: {{ conta.getTipo() }}</strong>
      </p>
      <p class="mb-3">
        <strong>Saldo: R$ {{ conta.getSaldo }}</strong>
      </p>

      <div class="form-group">
        <label for="valorTransacao">Valor:</label>
        <input
          [(ngModel)]="valorTransacao"
          id="valorTransacao"
          type="number"
          placeholder="Valor"
          name="valorTransacao"
          class="form-control mb-2"
        />
      </div>

      <button class="btn btn-success" (click)="depositar()">Depositar</button>
      <button class="btn btn-danger ms-2" (click)="sacar()">Sacar</button>
    </div>
  </div>
</div>
